body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

h2 {
  margin: 0;
  line-height: 54px;
  font-size: 36px;
  color: #484848;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  color: #aaaaaa;
  line-height: 28px;
  word-spacing: 2px;
}

p {
  margin: 0;
  font-size: 12px;
}

header {
  width: 100%;
  height: 598px;
  background-image: url("../assets/img/banner.jpg");
  background-size: cover;
  z-index: 0;
  color: white;
}
header span {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 598px;
  background-color: rgba(31, 31, 36, 0.7);
  z-index: 0;
}
header div {
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header div h1 {
  margin: 125px 0 0 0;
  font-size: 42px;
}
header div h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  margin-top: 28px;
  margin-bottom: 30px;
  color: white;
}
header div button {
  background-color: #f32853;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border-radius: 2px;
  height: 52px;
  width: 180px;
}

nav {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 70px;
}
nav div {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
nav div:first-of-type {
  margin: 0 0 0.5% 3%;
}
nav div:first-of-type p {
  font-size: 15px;
}
nav div:last-of-type {
  gap: 42px;
  margin: 0 3.4% 0.5% 0;
}
nav div:last-of-type a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

footer {
  width: 100%;
  height: 280px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer div:first-of-type {
  display: flex;
  gap: 50px;
  margin-bottom: 42px;
}
footer div:first-of-type i {
  font-size: 32px;
  color: #aaaaaa;
}
footer div:last-of-type {
  display: flex;
  height: fit-content;
  width: 350px;
}
footer div:last-of-type p {
  color: #aaaaaa;
}
footer div:last-of-type p:first-of-type {
  width: 81px;
  text-align: left;
}
footer div:last-of-type p:nth-of-type(2) {
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
  height: 22px;
  width: 158px;
  text-align: center;
}
footer div:last-of-type p:last-of-type {
  width: 120px;
  text-align: right;
}

#sec1 {
  width: 100%;
  height: 405px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#sec1 div {
  width: 30%;
  height: 264px;
}
#sec1 div:nth-of-type(1) h2 {
  margin: 0 0 12px 18px;
}
#sec1 div:nth-of-type(1) h3 {
  margin: 0 0 0 18px;
}
#sec1 div:nth-of-type(2) p {
  padding: 0 15px 0 24px;
  line-height: 24px;
  color: #968692;
}
#sec1 div:nth-of-type(2) p:nth-of-type(1) {
  margin-bottom: 24px;
}

#sec2 {
  width: 100%;
  height: 814px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sec2 #sec2title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sec2 #sec2title h2 {
  margin-top: 70px;
}
#sec2 #sec2title h3 {
  margin-top: 15px;
}
#sec2 #sec2cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 76.5%;
  height: fit-content;
  margin-top: 70px;
  gap: 35px;
}

.sec2subcont {
  width: fit-content;
}
.sec2subcont img {
  height: 316px;
}
.sec2subcont div {
  background-color: white;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px -2px #aaaaaa, -1px 0px 3px -2px;
}
.sec2subcont div p {
  font-size: 16px;
  color: #484848;
  font-weight: 700;
}

#sec2btn {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 18px;
}
#sec2btn button {
  border: none;
  border-radius: 3px;
  color: white;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  height: 52px;
}
#sec2btn button:first-of-type {
  background-color: #f32853;
  width: 195px;
}
#sec2btn button:last-of-type {
  background-color: #323037;
  width: 200px;
}

#sec3 {
  width: 100%;
  height: 667px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sec3title {
  margin-top: 74px;
  width: 100%;
  align-self: flex-start;
}
#sec3title h2 {
  margin-left: 12%;
}
#sec3title h3 {
  margin-top: 9px;
  margin-left: 11.8%;
  color: #484848;
}

#sec3cont {
  width: 80%;
  margin-top: 73px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 46px;
}

.sec3subcont {
  height: fit-content;
  width: 46%;
  display: flex;
}
.sec3subcont img {
  height: 133px;
  border-radius: 50%;
  border: solid 6px #e3e3e3;
}
.sec3subcont div h4 {
  margin: 2px 0 0 0;
  font-size: 13.2px;
  padding-right: 2px;
  color: #484848;
}
.sec3subcont div h5 {
  font-size: 11px;
  margin: 9px 0 0 0;
  padding-right: 2px;
  font-weight: 300;
  color: #aaaaaa;
}
.sec3subcont div p {
  margin-top: 18px;
  padding-right: 2px;
  line-height: 23px;
  color: #968692;
}
.sec3subcont:nth-of-type(odd) img {
  order: 2;
  margin-right: 1px;
}
.sec3subcont:nth-of-type(odd) div {
  text-align: right;
  padding-right: 22px;
}
.sec3subcont:nth-of-type(even) img {
  margin-left: 2px;
}
.sec3subcont:nth-of-type(even) div {
  padding-left: 23px;
}

#sec4 {
  background-image: url("../assets/img/banner.jpg");
  background-size: 110%;
  background-position: center;
  width: 100%;
  height: 324px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
#sec4 span {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 324px;
  background-color: rgba(31, 31, 36, 0.7);
  z-index: 0;
}
#sec4 h2 {
  color: white;
  z-index: 1;
}
#sec4 h3 {
  color: #aaaaaa;
  margin-top: 10px;
  z-index: 1;
}
#sec4 button {
  margin-top: 40px;
  background-color: #f32853;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  height: 52px;
  width: 188px;
  border-radius: 3px;
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
